@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');



* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,h2{
	color: #fff;
}

h1 {
	font-size: 25px;
	font-weight: 900;
}

h2 {
	font-weight: 700;
	margin-top: 15px;
	font-size: 20px;
}



.greet {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 120px;
	margin-bottom: -100px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:#666;
}

.bg-mybody {
	background: url(../image/bg3.png) no-repeat;
	background-size: 100%;
	height: 100%;
}

#login_box {
	margin-top: -100px;
	background-color: #28a745;
	padding: 48px;
	border-radius: 5px;
	width: 400px;
	margin: 150px auto;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.30);
	text-align: center;
}

#login_box h1{
	font-weight: 600;
	color: #034f23;
	font-size: 16px;
}

.login_form {
	margin-top: 30px;
}

.login_form p + p {
	margin-top: 20px;
}

#login_box .input.email,
#login_box .input.password,
#login_box .input.submit {
	font-size: 100%;
	font-family: inherit;
	padding: 10px 1rem;
	display: block;
	width: 100%;
	border: 1px solid #065427;
	border-radius: 6px;
	transition: border .22s ease, box-shadow .22s ease;
}

#login_box .input:focus,
#login_box .input:active
{
	border-color: #0DAC50;
}

.input.submit {
	cursor: pointer;
	background: #065427;
	color: #fff;
	font-weight: 500;
	height: 50px;
}

.input.submit:hover{
	box-shadow: 0 5px 15px #065427;
}

.active-1{
	background-color: #102b2b;
	border-left: 4px solid green;
}




/* Responsive */

@media only screen and (max-width:1550px) {
	.bg-mybody{
		background-image: url(../image/bg3.png);
		background-repeat: repeat-y;
	}
}