/*------------------- GOOGLE FONTS -------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


/*------------------- CSS VARIABLE -------------------*/
:root {
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --dark-blue: #0D3B66;
    --blue: #285385;
    --grey: #F2F2F2;
    --black: #001424;
    --small-title: #A19F9F;
    --grey-background: #A5A5A7;
}


/*------------------- UNIVERSAL CSS -------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
    font-family: var(--poppins);
    font-size: 1rem;
    color: #000;
    background: #e9ecef;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.sm-container {
    width: 70%;
    margin: 0 auto;
    background: var(--grey);
    padding: 1rem 2.5rem;
    box-shadow: 0 0 10px 5px var(--grey);
    min-height: 821px;
}





/*------------------- HEADER -------------------*/
section.header {
    background: var(--dark-blue);
    padding: 1.5rem 2rem;
    position: relative;
}

section.header .navbar {
    height: 50px;
    width: 100%;
}

section.header .navbar ul {
    float: right;
}

section.header .navbar .logo {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    padding-left: 0 100px;
}

section.header .navbar ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

section.header .navbar li a {
    font-size: .9rem;
    padding: 1rem;
    font-weight: 500;
}

section.header .navbar li a:hover {
    color: #529BD9;
    transition: .3s ease-in;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    line-height: 50px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    float: right;
}

#check {
    display: none;
}


/*------------------- PENGUMUMAN -------------------*/

section.pengumuman {
    color: #000;
}

section.pengumuman h1 {
    margin-top: 50px;
    font-size: 42px;
    color: #000;
    font-weight: 700;
}

section.pengumuman p {
    color: #000;
    font-size: 1rem;
    text-align: justify;
    font-weight: 400;
    line-height: 26px;
}

section.pengumuman small {
    padding: 2rem 0 1rem 0;
    display: block;
    color: var(--small-title);
}

section.pengumuman a {
    color: #529BD9;
    font-style: italic;
}

/*------------------- BERITA -------------------*/
section.berita h1 {
    margin-top: 50px;
    font-size: 42px;
    color: #000;
    font-weight: 700;
}

section.berita p {
    color: #000;
    font-size: 1rem;
    text-align: justify;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 2rem;
}

section.berita small {
    padding: 2rem 0 1rem 0;
    display: block;
    color: var(--small-title);
}

section.berita a {
    font-size: 18px;
    color: #0077b6;
    font-weight: bold;
    font-family: var(--poppins);
    font-style: italic;
}

section.berita a:hover {
    color: #529BD9;
    transition: .2s ease-in;
}

section.berita img {
    display: block;
    width: 50%;
    text-align: center !important;
    margin: 0 auto;
    padding: 1.5rem 0;
    cursor: pointer;
    transition: .5s;
}

section.berita img:hover {
    opacity: .7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
}

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: .6s;
    animation-name: zoom;
    animation-duration: .6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    transition: .3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width:700px) {
    .modal-content {
        width: 100%;
    }
}


/*------------------- IDENTITAS ALUMNI -------------------*/
section.identitas h1 {
    padding-top: 1.8rem;
    font-size: 2.4rem;
}

section.identitas .sm-container {
    width: 50%;
    background-color: #fff;
}

section.identitas h3 {
    font-size: .9rem;
    line-height: 14px;
    font-weight: 500;
}

section.identitas hr {
    margin: 1rem 0;
    height: 3px;
    width: 65%;
    border: 0;
    background-color: var(--black);
}

section.identitas .form-control {
    padding: 1rem 0;
}

section.identitas .upl-btn {
    padding: 1rem 0;
}

section.identitas .upl-btn label {
    font-size: 1rem;
    padding: .4rem 0;
    display: block;
    font-weight: 600;
}

section.identitas .upl-btn input[type=file] {
    width: 500px;
    padding: .5rem 0;
    font-size: 16px;
    font-family: var(--poppins);
}

section.identitas .form-control input,
section.identitas select {
    width: 85%;
    outline: none;
    border: 2px solid #A5A5A7;
    height: 2rem;
    border-radius: 3px;
    padding: 1rem .8rem;
    background-color: #fff;
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

section.identitas select {
    padding: 0 .8rem;
    height: 2.3rem;
}

section.identitas .form-control input:focus,
section.identitas .form-control input:hover,
section.identitas select:focus,
section.identitas select:hover {
    border: 2px solid #0D3B66;
    transition: .7s ease;
}


section.identitas .form-control label {
    font-size: 1rem;
    padding: .4rem 0;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

section.identitas small {
    display: block;
    font-size: 13px;
    margin-top: 4px;
}

section.identitas small span {
    color: red;
    font-size: 16px;
}

section.identitas button {
    padding: .6rem 2.5rem;
    margin: 0 0 4rem 0;
    border-radius: 2px;
    background-color: var(--dark-blue);
    border: none;
    color: #fff;
    font-family: var(--poppins);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: .8rem;
    outline: none;
    cursor: pointer;
}

section.identitas button:hover {
    background-color: var(--black);
    transition: .3s ease-in;
}


/*------------------- DATA-ALUMNI -------------------*/
section.data-alumni h1{
    font-size: 2rem;
    padding: 2rem 0 0;
}
section.data-alumni h3{
    font-size: .9rem;
    font-weight: 500;
}

section.data-alumni .sm-container {
    padding: 1rem 1.5rem;
    overflow: hidden;
    width: 90%;
    background-color: #fff;
}

section.data-alumni hr {
    margin: .5rem 0 1rem;
    height: 3px;
    width: 100%;
    border: 0;
    background-color: var(--black);
}

section.data-alumni .body-data .search {
    float: right;
    padding: 2rem 0 0;
}

section.data-alumni .body-data .search label {
    font-weight: 500;
    font-size:1rem;
}

section.data-alumni .body-data .search input[type=search] {
    font-weight: 500;
    font-size:1rem;
    outline: none;
    border: none;
    border: 1px solid #A19F9F;
    padding: .2rem .5rem;
    font-size: 12px;
    font-family: var(--poppins);
    font-weight: 500;
    border-radius: 2px;
}

section.data-alumni .body-data .search input[type=search]:hover,
section.data-alumni .body-data .search input[type=search]:focus{
    border: 1px solid #0D3B66;
    transition: .5s ease;
}

section.data-alumni .body-data .search button {
    outline: none;
    padding: .2rem .5rem;
    cursor: pointer;
    font-size: 13px;
    font-family: var(--poppins);
    border: none;
    border-radius: 3px;
    background-color: var(--dark-blue);
    color: #fff;
}

section.data-alumni .body-data .search button:hover {
    background-color: var(--black);
    transition: .5s ease;
}

section.data-alumni .body-data .search button i {
    padding: 0 .4rem 0 0;
}

section.data-alumni .body-data table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 1rem 0;
}

section.data-alumni .body-data table td {
    font-size: 13px;
}

/* section.data-alumni .body-data table, */
section.data-alumni .body-data table,tr {
    padding: .8rem 1rem;
    overflow: hidden;
    border-radius: 4px;
}

section.data-alumni .body-data table tr:nth-child(even){background-color: #ededed;}
section.data-alumni .body-data table tr:nth-child(odd){background-color: #fff;}

section.data-alumni .body-data table th {
    padding: .8rem 1rem;
    color: #fff;
    font-weight: 500;
    background-color: var(--blue);
    text-align: left;
}

section.data-alumni .body-data table td {
    padding: 1.2rem 0 1.2rem 1rem ;
}

section.data-alumni .body-data table td a {
    color: #285385;
}

a.profile {
    border-radius: 4px;
    padding: .4rem .6rem;
    font-weight: 500;
    font-size: 13px;
}

section.data-alumni .page {
    float: right;
    padding: 1.5rem 0;
}

section.data-alumni .page a.profile {
    background-color: #0D3B66;
    padding: .4rem .6rem;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 0;
}

section.data-alumni .page a {
    color: #000;
    padding: 0 .6rem;
    font-size: 15px;
}

section.data-alumni .body-data table td a:hover {
    color: #0D3B66;
}


section.data-alumni .body-data th td:first-child {
    text-align: left;
    border: none;
}



/*------------------- SOAL -------------------*/
section.soal .sm-container {
    width: 60%;
    box-shadow: none;
    padding: 0;
    border-top: 4px solid #001424;
    border-radius: 4px;
}

section.soal {
    position: relative;
    margin: 1.5rem auto;
}

section.soal .content .header-content {
    padding: .8rem 0;
}

section.soal .header-content i {
    font-size: 1.5rem;
    padding: 0 0 0 1rem;
    color: #001424;
    font-weight: 700;
}

section.soal .header-content span {
    font-size: 1.1 rem;
    font-weight: 600;
}

section.soal hr {
    border: none;
    background-color: #e9ecef;
    height: 2px;
}

section.soal .main form {
    padding: 1.5rem 2.5rem;
}

section.soal .main .form-control label {
    font-weight: 500;
}

section.soal .main .form-control label span {
    font-weight: 700;
    margin-right: 5px;
}

section.soal .main .form-control .radio {
    margin-left: 10px;
}

section.soal .main .form-control .radio label {
    font-size: 13px;
    font-weight: 400;
    margin-top: 4px;
}

section.soal .main .form-control .radio table {
    margin: .6rem 0;
}

section.soal .main .form-control .radio table td {
    padding-right: .5rem;
}

section.soal .main .form-control {
    padding: 1rem 0;
}

section.soal .main .form-control .radio2 input[type="text"] {
    margin: .3rem 0 1rem;
}

section.soal .main .form-control input[type="number"] {
    width: 50%;
    margin: .3rem 0 0 0;
    border: 1px solid #A19F9F;
    border-radius: 2px;
    height: 35px;
    background-color: #fff;
}

section.soal .main .form-control .radio table tr td p {
    font-size: 12px;
    margin: .4rem 0 1rem 0;
}

section.soal .main .form-control .radio table tr td p span {
    font-size: .9rem;
    color: red;
}

section.soal .main .form-control div label,
section.soal .main .form-control div input[type="checkbox"] {
    display: inline-block;
}


section.soal .main .form-control div {
    padding: .6rem 0 .3rem 0;
}

section.soal .main .form-control input[type="number"]:focus,
section.soal .main .form-control input[type="number"]:hover,
section.soal .main .form-control div input[type="text"]:hover,
section.soal .main .form-control div input[type="text"]:focus {
    border: 1px solid #0D3B66;
    transition: .4s ease;
}

section.soal .main .form-control div input[type="text"] {
    width: 50%;
    margin: .3rem 0 0 0;
    border: 1px solid #A19F9F;
    display: block;
    border-radius: 2px;
    height: 35px;
    background-color: #fff;
}

.btn {
    padding: .6rem 2.5rem;
    border-radius: 2px;
    background-color: var(--dark-blue);
    border: none;
    color: #fff;
    margin-bottom: 1rem;
    position: relative;
    font-family: var(--poppins);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: .8rem;
    width: 190px;
    outline: none;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn:hover {
    background-color: #001424;
    transition: .8s ease;
}

.fl-right {
    float: right;
}

.clear {
    clear: both;
}

section.end .sm-container {
    min-height: 40vh;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

section.end .banner {
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
    justify-content: center;
}

section.end .banner div {
    width: 80%;
    margin: 3rem 0 0 0;
    text-align: center;
    background-color: #001424;
    position: relative;
    padding: 2rem 2.5rem;
    border-radius: 10px;
}

section.end .banner a {
    color: #529BD9;
}

section.end .banner a:hover {
    color: #0077b6;
}

section.end .banner div p {
    font-weight: 500;
    color: #fff;
    line-height: 40px;
    font-size: 1.5rem;
}


/*------------------- FOOTER -------------------*/

section.footer {
    height: 60px;
    width: 100%;
    background-color: var(--black);
}

section.footer p {
    text-align: center;
    line-height: 60px;
}

section.footer p a {
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
}

section.footer p a:hover {
    color: #529BD9;
    transition: color .5s ease-in-out;
}

/*------------------- LOGIN -------------------*/
body.login {
    background-color: #0D3B66;
    position: relative;
    width: 100%;
    height: 100%;
}

.login-container {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 70vh;
    -moz-transform: translateX(-50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%);
    transform: translate(-50%, 20%);
    background-color: #F4F4F9;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 5px 6px #000;
    -webkit-box-shadow: 3px 3px 5px 6px #000;
    box-shadow: 8px 8px 14px #141414;
    overflow: hidden;

}

.login-container .grid {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0;
    height: 100%;
}

.login-container .col-1 {
    background-color: #F4F4F9;
    padding: 1rem 4.2rem;
    height: 100%;
    text-align: center;
}

.login-container .col-1 h1 {
    font-size: 2rem;
    padding: 2rem 0;
    text-transform: uppercase;
    margin-top: 2rem;
}

.login-container .col-1 h3 {
    font-size: .8rem;
    overflow: hidden;
    color: var(--grey-background);
    font-weight: 500;
    padding: 1rem 0;
}

.login-container .col-1 h3::before,
.login-container .col-1 h3::after {
    content: '';
    background-color: var(--grey-background);
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.login-container .col-1 h3::before {
    right: .5em;
    margin-left: -50%;
}

.login-container .col-1 form {
    text-align: left;
}

.login-container .col-1 .form-control {
    padding: .4rem 0 .8rem 0;
}

.form-control label {
    display: block;
    padding-bottom: .4rem;
    font-weight: 700;
    font-size: 15px;
}

.form-control input[type=email],
.form-control input[type=number],
.form-control input[type=password],
.form-control input[type="text"] {
    width: 100%;
    padding: .6rem .8rem;
    background-color: #ededed;
    font-family: var(--poppins);
    border-radius: 4px;
    border: 2px solid var(--grey-background);
    font-weight: 600;
}

.btn-login {
    background-color: #0D3B66;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--poppins);
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    padding: .7rem 2rem;
    border-radius: 2px;
    margin: 1rem 0;
}

.btn-login:hover {
    background-color: var(--blue);
    transition: .3s ease-in;
}

.form-control input:focus {
    outline: none;
}

.form-control input[type=email]:focus,
.form-control input[type=number]:focus,
.form-control input[type=password]:focus,
.form-control input[type=text]:focus {
    background-color: #fff;
    border: 2px solid var(--dark-blue);
    transition: .3s ease-out;
}



.login-container .col-1 h3::after {
    left: .5em;
    margin-right: -50%;
}

.login-container .col-1 p {
    font-size: 14px;
    padding: 1rem 0;
}

.login-container .col-1 p a {
    color: #529BD9;
    font-weight: 600;
}

.login-container .col-1 p a:hover {
    color: var(--dark-blue);
    transition: .4s ease-out;
}

.login-container .col-2 {
    padding: 1rem 2.5rem;
    background-color: #529BD9;
    height: 100%;
    color: #fff;
    position: relative;
}

.login-container hr {
    background-color: var(--grey-background);
    height: 1px;
    margin: .2rem 0 1rem 0;
    border: none;
}

.login-container .col-2 h1 {
    font-size: 2.5rem;
    margin-top: 50px;
}

.login-container .col-2 h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

.login-container .col-2 p {
    padding: 2.5rem 0;
    font-family: var(--poppins);
    font-weight: 300;
    font-size: 16px;
    margin-right: 140px;
}

.login-container .col-2 .ilustration {
    width: 68%;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.login-container .regist h1 {
    padding: 2rem 0 .8rem 0;
}












/*------------------- RESPONSIVE -------------------*/

@media (max-width:1440px) {
    .login-container .col-1 h1 {
        font-size: 1.5rem;
        padding: 1rem 0;
        text-transform: uppercase;
        margin-top: 1rem;
    }

    .login-container .col-2 h1 {
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .login-container .col-2 p {
        padding: 2.5rem 0;
        font-family: var(--poppins);
        font-weight: 300;
        font-size: .9rem;
        margin-right: 140px;
    }
}

@media (max-height:900px) {
    .login-container .col-1 h1 {
        font-size: 1.5rem;
        padding: 1rem 0;
        text-transform: uppercase;
        margin-top: 2.5rem;
    }

    .login-container .col-2 h1 {
        font-size: 2.5rem;
        margin-top: 2.4rem;
    }

    .login-container .col-2 p {
        padding: 2.5rem 0;
        font-family: var(--poppins);
        font-weight: 300;
        font-size: .9rem;
        margin-right: 80px;
    }

    .login-container .col-2 .ilustration {
        width: 75%;
        position: absolute;
        right: 20px;
        bottom: 10px;
    }
}


@media (max-height:802px) {
    .login-container .col-1 h1 {
        font-size: 1.5rem;
        padding: 1rem 0;
        text-transform: uppercase;
        margin-top: 1.2rem;
    }

    .login-container .col-2 h1 {
        font-size: 2rem;
        margin-top: 1.5rem;
    }

    .login-container .col-2 h3 {
        font-size: 1rem;
    }

    .login-container .col-2 p {
        padding: 2.5rem 0;
        font-family: var(--poppins);
        font-weight: 300;
        font-size: .8rem;
        margin-right: 60px;
    }

    .login-container .col-2 .ilustration {
        width: 75%;
        position: absolute;
        right: 20px;
        bottom: 10px;
    }
}


@media (max-width:1024px) {
    .checkbtn {
        display: block;
    }

    section.data-alumni .sm-container {
        width: 100%;
    }

    section.data-alumni .body-data table {
        width: 20%;
    }
    

    section.header .navbar ul {
        position: fixed;
        width: 100%;
        height: 45vh;
        background: #2c3e50;
        top: 95px;
        z-index: 1;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    section.header .navbar ul li {
        display: block;
        margin: 32px 0;
        line-height: 20px;
    }

    #check:checked~ul {
        left: 0;
    }

    .login-container .col-1 {
        padding: 1rem 2rem;
    }


    .login-container .col-1 h1 {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    .login-container .col-2 h1 {
        font-size: 1.6rem;
        margin-top: 1.2rem;
    }

    .login-container .col-2 h3 {
        font-size: .9rem;
    }

    .login-container .col-2 p {
        padding: 2rem 0;
        font-size: .7rem;
        margin-right: 60px;
    }

    .login-container .col-2 .ilustration {
        width: 70%;
        right: 10px;
        bottom: 10px;
    }

    .login-container .col-1 h3 {
        font-size: .6rem;
        padding: 1rem 0;
    }

    .login-container .col-1 .form-control {
        padding: .4rem 0 .2rem 0;
    }

    .form-control label {
        padding-bottom: .4rem;
        font-size: .7rem;
    }

    .form-control input[type=email],
    .form-control input[type=password] {
        padding: .4rem .8rem;
        font-size: .6rem;
    }

    .btn-login {
        font-size: .8rem;
        letter-spacing: 0px;
        padding: .6rem 2rem;
        margin: .8rem 0;
    }

    .login-container hr {
        margin: 1rem 0;
    }

    .login-container .col-1 p {
        font-size: .7rem;
        padding: 1rem 0;
    }

    section.identitas .sm-container {
        width: 80%;
    }

    section.soal .sm-container {
        width: 80%;
    }

    section.soal .main .form-control .radio input[type=number],
    section.soal .main .form-control .radio input[type=text] {
        width: 80%;
    }
}


@media (max-width:925px) {
    section.header .navbar .logo {
        font-size: 20px;
        width: 10px;
    }

    section.header .navbar ul li {
        font-size: .5rem;
    }
}


@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    section.header .navbar ul {
        position: fixed;
        width: 100%;
        height: 90vh;
        background: #2c3e50;
        top: 105px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    section.header .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    section.header .navbar ul li a {
        font-size: 16px;
    }

    #check:checked~ul {
        left: 0;
    }
}

@media (max-height: 768px) {
    .login-container .col-1 {
        padding: 1rem 2rem;
    }


    .login-container .col-1 h1 {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    .login-container .col-2 h1 {
        font-size: 1.6rem;
        margin-top: 1.2rem;
    }

    .login-container .col-2 h3 {
        font-size: .9rem;
    }

    .login-container .col-2 p {
        padding: 2rem 0;
        font-size: .7rem;
        margin-right: 60px;
    }

    .login-container .col-2 .ilustration {
        width: 60%;
        right: 10px;
        bottom: 10px;
    }

    .login-container .col-1 h3 {
        font-size: .6rem;
        padding: 1rem 0;
    }

    .login-container .col-1 .form-control {
        padding: .4rem 0 .2rem 0;
    }

    .form-control label {
        padding-bottom: .4rem;
        font-size: .7rem;
    }

    .form-control input[type=email],
    .form-control input[type=password] {
        padding: .4rem .8rem;
        font-size: .6rem;
    }

    .btn-login {
        font-size: .8rem;
        letter-spacing: 0px;
        padding: .6rem 2rem;
        margin: .8rem 0;
    }

    .login-container hr {
        margin: 1rem 0;
    }

    .login-container .col-1 p {
        font-size: .7rem;
        padding: 1rem 0;
    }
}

@media (max-width: 768px) {
    section.header .navbar ul {
        top: 95px;
    }

    section.identitas .sm-container,
    section.berita .sm-container,
    section.pengumuman .sm-container {
        width: 90%;
    }

    section.berita .sm-container,
    section.pengumuman .sm-container {
        padding: .5rem 1rem;
    }

    section.identitas hr {
        width: 100%;
    }

    section.berita img {
        width: 100%;
    }

    section.soal .sm-container {
        width: 90%;
    }

    section.soal .main .form-control .radio input[type=number],
    section.soal .main .form-control .radio input[type=text] {
        width: 100%;
    }
}


@media (max-width: 425px) {
    section.header .navbar {
        height: 110px;
        width: 100%;
    }

    section.header .navbar .logo {
        font-size: 20px;
        line-height: 50px;
    }

    section.header .navbar ul {
        background: #2c3e50;
        top: 145px;
    }

    .checkbtn {
        line-height: 60px;
        margin-left: 30px;
    }

    section.pengumuman h1 {
        margin-top: 30px;
        font-size: 24px;
        color: #000;
        font-weight: 700;
    }

    section.pengumuman p {
        font-size: 14px;
    }

    section.berita h1 {
        margin-top: 30px;
        font-size: 24px;
        font-weight: 700;
        overflow: hidden;
    }

    section.berita .sm-container {
        width: 100%;
    }

    section.berita p {
        font-size: 14px;
    }

    section.footer p a {
        font-size: 12px;
    }

    section.identitas .form-control input,
    section.identitas .form-control select,
    section.identitas .form-control option {
        width: 100%;
    }

    section.identitas .sm-container {
        padding: 0 1.5rem;
    }

    section.identitas h1 {
        font-size: 1.8rem;
    }

    section.identitas h3 {
        font-size: .8rem;
        line-height: normal;
        padding: 1rem 0 0 0;
    }

    section.identitas hr {
        width: 100%;
    }

    .btn-container {
        display: block;
    }

    section.soal .main .btn-container .btn {
        width: 100%;
    }

    section.soal .sm-container form {
        padding: .5rem 1rem;
    }
}


@media (max-width: 375px) {
    section.header .navbar {
        height: 110px;
        width: 100%;
    }

    section.header .navbar .logo {
        font-size: 20px;
        line-height: 35px;
    }

    section.header .navbar ul {
        background: #2c3e50;
        top: 145px;
    }

    .checkbtn {
        line-height: 45px;
        margin-left: 10px;
    }

    section.berita .sm-container,
    section.pengumuman .sm-container {
        padding: .5rem 1rem;
        margin: 0;
    }
}

@media (max-width: 320px) {
    section.header .navbar {
        height: 120px;
        width: 100%;
    }

    section.header .navbar .logo {
        font-size: 18px;
        line-height: 35px;
    }

    section.header .navbar ul {
        background: #2c3e50;
        top: 145px;
    }

    .checkbtn {
        line-height: 45px;
    }
}